In [26]:
from glob import glob
import json
from pymongo import MongoClient

## Importing the movie data

In [23]:
movies_data = []

for fname in glob("jsonmc-master/movies/*/*.json"):
    with open(fname) as file:
        try:
            contents = json.load(file)
            movies_data.append(contents)
        except UnicodeDecodeError:
            pass

In [24]:
len(movies_data)

341

In [31]:
movies_data[0]

{'name': 'Dr. No',
 'year': 1962,
 'runtime': 110,
 'categories': ['action', 'adventure', 'thriller'],
 'release-date': '1962-10-05',
 'director': 'Terence Young',
 'writer': ['Richard Maibaum',
  'Johanna Harwood',
  'Berkely Mather',
  'Ian Fleming'],
 'actors': ['Sean Connery',
  'Ursula Andress',
  'Joseph Wiseman',
  'Jack Lord',
  'Bernard Lee'],
 'storyline': 'A resourceful British government agent seeks answers in a case involving the disappearance of a colleague and the disruption of the American space program.',
 '_id': ObjectId('5ea58dc1778da3f01ec4f73e')}

## Setting up MongoDB database instance

One can enter data into the mongoDB database like so:

Conncet to the MongoDB client and create a database, then create a document collection in this database and insert our documents (movie entries) into the collection.

In [28]:
client = MongoClient()
db = client.movie_database
movie_collection = db.movies
movie_collection.insert_many(movies_data)

## Basic Commands

We can then count the documents in our collection to check they were inserted correctly. We enter the argument as {} as the first argument is a filter to apply before counting the documents. We enter {} as an empty filter so we retrive a count of all the documents.

In [29]:
movie_collection.count_documents({})

341

We can also retrieve the entire collection of documents (or apply a filter and retrieve matching documents) like so:

In [46]:
all_data = list(movie_collection.find({}))

We can also get all the distinct values in a particular field across all the documents

In [ ]:
names = db.movies.distinct('name')

## Aggregation Requests

We can also make aggregation requests like so, these are a really powerful tool to query, group, and subset the data.

We can use project to get a subset of the fields in each document and to perform operations on the documents to generate new fields for the data.

### Project

In [82]:
pipeline = [
    { "$project": {
        "_id": 0,          # use boolean to say whether to include a field or not - 0 means don't include the field
        "runtime" : 1,     # use 1 to include the field in the projection
        "name": "$name",   # can specify fields by name
        "after1992" : { "$gt": [ "$year", 1992 ] }, # can apply operations such as simple boolean operations
        "when": {"$cond": [
              { "$lt": [ "$year", 1992 ] },
              "Before 1992",
              "After 1992"
            ],
            }, # can also apply more complex conditions to the data using this format - this uses cond's array syntax
        "timeSince1992" : {"$cond" :{
            "if": {"$lt": ["$year", 1992]}, 
            "then": "Before 1992", 
            "else": {"$abs" : {"$subtract": [ 1992, "$year"]}}}},
        # the above line applys the condition operator with the alternative syntax, in both cases we can use field
        # names in the conditional outputs, and even more complex operators within that, here we display "Before 1992"
        # if the date is before 1992, otherwise we subtract the year from 1992 and take the absolute value
        }
    },
]

list(db.movies.aggregate(pipeline))[0:3]

[{'runtime': 110,
  'name': 'Dr. No',
  'after1992': False,
  'when': 'Before 1992',
  'timeSince1992': 'Before 1992'},
 {'runtime': 129,
  'name': 'To Kill a Mockingbird',
  'after1992': False,
  'when': 'Before 1992',
  'timeSince1992': 'Before 1992'},
 {'runtime': 134,
  'name': 'Whatever Happened To Baby Jane?',
  'after1992': False,
  'when': 'Before 1992',
  'timeSince1992': 'Before 1992'}]

### Group

We have to specify/provide a field "_id" which the grouping operation groups documents by, for each document in the group we can perform an operation, one of the most simple is counting the elements in each group.

In [83]:
pipeline = [
    { "$group": {
    "_id": "$year",
    "count": { "$sum": 1 },
    }},
]

list(db.movies.aggregate(pipeline))[0:3]

[{'_id': 1999, 'count': 5},
 {'_id': 1977, 'count': 2},
 {'_id': 1974, 'count': 2}]

We can also group on calculated parameters, such as using a condition to split the data into 2 catgories

In [86]:
pipeline = [
    { "$group": {
    "_id": {"$cond" : {
            "if": {"$lt": ["$year", 1992]}, 
            "then": "Before 1992", 
            "else": "After 1992"}},
    "count": { "$sum": 1 },
  }},
]

list(db.movies.aggregate(pipeline))

[{'_id': 'After 1992', 'count': 289}, {'_id': 'Before 1992', 'count': 52}]

We can also calculate aggregate properties of the group like summing a field, averaging it, and also build an array of values for a field for each document in each group.

In [93]:
pipeline = [
    { "$group": {
    "_id": {"$cond" : {
            "if": {"$lt": ["$year", 1992]}, 
            "then": "Before 1992", 
            "else": "After 1992"}},
    "totalRunTime": { "$sum": "$runtime" },
    "meanRunTime": {"$avg": "$runtime"},
    "maxRunTime": {"$max": "$runtime"},
    "releaseDates": {"$push": "$release-date"},
  }},
]

list(db.movies.aggregate(pipeline))[0:3]

[{'_id': 'After 1992',
  'totalRunTime': 35853,
  'meanRunTime': 124.48958333333333,
  'maxRunTime': 1120,
  'releaseDates': ['1992-12-04',
   '1992-11-20',
   '2093-05-07',
   '1993-06-11',
   '1994-12-16',
   '1994-07-06',
   '1994-10-14',
   '1994-02-04',
   '1994-12-23',
   '1994-06-15',
   '1994-07-29',
   '1993-09-10',
   '1995-11-18',
   '1995-09-15',
   '1995-12-15',
   '1995-10-06',
   '1996-02-16',
   '1996-06-25',
   '1996-05-22',
   '1996-11-15',
   '1996-05-17',
   '1997-11-07',
   '1997-05-09',
   '1997-05-23',
   '1998-07-01',
   '1999-01-10',
   '1999-10-15',
   '1999-05-19',
   '1999-03-31',
   '1999-08-02',
   '2000-12-15',
   '2000-12-20',
   '2000-03-11',
   '2000-05-24',
   '2000-09-29',
   '2000-08-11',
   '2000-07-14',
   '2001-06-26',
   '2001-09-14',
   '2001-11-16',
   '2001-08-24',
   '2001-09-05',
   '2001-12-07',
   '2001-06-22',
   '2001-12-19',
   '2001-07-18',
   '2002-11-15',
   '2002-07-12',
   '2002-05-24',
   '2002-05-16',
   '2002-14-02',
   '2002-12-18',
   '2003-06-06',
   '2003-02-14',
   '2003-05-30',
   '2003-10-10',
   '2003-10-15',
   '2003-07-02',
   '2003-12-17',
   '2003-05-15',
   '2003-11-05',
   '2003-06-27',
   '2003-09-19',
   '2003-05-02',
   '2004-02-13',
   '2004-06-04',
   '2004-03-12',
   '2004-05-30',
   '2004-06-25',
   '2004-16-04',
   '2005-06-15',
   '2005-01-13',
   '2005-02-18',
   '2005-11-18',
   '2006-03-23',
   '2005-08-11',
   '2005-05-19',
   '2005-06317',
   '2006-11-17',
   '2006-12-14',
   '2006-05-05',
   '2006-06-28',
   '2006-06-16',
   '2006-10-17',
   '2006-12-15',
   '2006-01-12',
   '2006-05-26',
   '2007-06-1',
   '2007-06-15',
   '2007-07-01',
   '2007-07-11',
   '2007-09-01',
   '2004-05-04',
   '2007-07-03',
   '2008-05-02',
   '2008-06-06',
   '2008-12-05',
   '2008-11-14',
   '2010-07-10',
   '2008-07-18',
   '2008-06-13',
   '2009-06-10',
   '2009-04-03',
   '2009-08-07',
   '2009-07-15',
   '2009-07-24',
   '2009-12-26',
   '2009-05-08',
   '2009-05-21',
   '2009-06-24',
   '2006-01-23',
   '2009-02-23',
   '2009-05-01',
   '2010-11-19',
   '2010-03-26',
   '2010-05-07',
   '2010-02-02',
   '2010-03-18',
   '2010-10-01',
   '2010-12-10',
   '2011-07-22',
   '2011-04-29',
   '2011-07-15',
   '2011-05-26',
   '2011-12-21',
   '2011-12-16',
   '2011-01-28',
   '2011-10-28',
   '2011-05-06',
   '2011-06-29',
   '2011-06-03',
   '2012-12-25',
   '2012-12-21',
   '2012-11-09',
   '2012-04-11',
   '2012-07-20',
   '2012-12-14',
   '2012-01-19',
   '2013-09-19',
   '2013-05-24',
   '2013-03-28',
   '2013-10-12',
   '2013-05-03',
   '2013-06-14',
   '2013-11-27',
   '2013-07-12',
   '2013-08-07',
   '2013-09-27',
   '2013-05-16',
   '2013-12-13',
   '2013-12-25',
   '2013-07-26',
   '2013-11-08',
   '2015-03-20',
   '2014-11-07',
   '2014-04-04',
   '2014-10-10',
   '2014-09-18',
   '2014-08-01',
   '2010-03-26',
   '2014-11-07',
   '2014-09-19',
   '2014-02-13',
   '2014-07-25',
   '2014-07-11',
   '2014-12-17',
   '2014-06-27',
   '2014-05-23',
   '2015-07-17',
   '2015-04-23',
   '2015-04-03',
   '2015-06-12',
   '2015-05-22',
   '2015-05-07',
   '2015-07-31',
   '2005-02-05',
   '2015-11-06',
   '2015-12-18',
   '2009-07-01',
   '2015-12-30',
   '2015-10-02',
   '2016-11-23',
   '2016-11-11',
   '2016-03-25',
   '2016-05-06',
   '2016-04-14',
   '2016-02-12',
   '2016-11-03',
   '2016-11-18',
   '2016-04-14',
   '2016-08-19',
   '2016-01-29',
   '2016-08-31',
   '2016-11-23',
   '2016-10-21',
   '2016-12-14',
   '2016-12-16',
   '2013-07-22',
   '2016-08-05',
   '2016-03-25',
   '2016-06-10',
   '2016-09-23',
   '2016-09-22',
   '2016-24-11',
   '2016-05-24',
   '2016-05-27',
   '2016-09-10',
   '2016-03-04',
   '2017-08-11',
   '2017-10-27',
   '2017-04-28',
   '2017-06-28',
   '2017-03-16',
   '2017-10-05',
   '2017-04-15',
   '2017-07-21',
   '2017-02-24',
   '2017-03-31',
   '2017-04-19',
   '2017-10-13',
   '2017-09-08',
   '2017-12-20',
   '2017-11-17',
   '2017-04-07',
   '2017-09-22',
   '2017-12-21',
   '2017-01-25',
   '2017-07-05',
   '2017-12-15',
   '2017-08-18',
   '2017-12-08',
   '2017-04-14',
   '2017-12-08',
   '2017-06-09',
   '2017-12-21',
   '2017-10-25',
   '2017-07-10',
   '2017-05-15',
   '2018-09-07',
   '2018-03-30',
   '2018-02-23',
   '2018-07-06',
   '2018-12-14',
   '2018-01-5',
   '2018-04-27',
   '2018-10-12',
   '2018-10-12',
   '2018-02-16',
   '2018-11-02',
   '2018-12-21',
   '2018-08-02',
   '2018-08-15',
   '2018-05-10',
   '2018-02-09',
   '2018-10-19',
   '2018-10-12',
   '2018-10-19',
   '2018-06-08',
   '2018-09-28',
   '2018-06-14',
   '2018-02-15',
   '2018-10-26',
   '2018-05-21',
   '2018-10-19',
   '2018-05-10',
   '2018-12-14',
   '2018-10-26',
   '2018-04-21',
   '2018-12-12',
   '2018-11-21',
   '2018-04-13',
   '2018-03-11',
   '2018-08-31',
   '2018-07-01',
   '2018-09-27',
   '2018-05-24',
   '2018-10-05',
   '2018-10-19',
   '2018-09-21',
   '2018-10-12',
   '2018-08-10',
   '2018-09-07',
   '2018-09-14',
   '2018-03-16',
   '2018-06-01',
   '2018-10-05',
   '2018-12-21']},
 {'_id': 'Before 1992',
  'totalRunTime': 6244,
  'meanRunTime': 120.07692307692308,
  'maxRunTime': 200,
  'releaseDates': ['1962-10-05',
   '1962-12-25',
   '1962-10-31',
   '1963-10-10',
   '1964-09-17',
   '1965-03-29',
   '1965-12-09',
   '1966-12-29',
   '1967-06-12',
   '1971-12-14',
   '1972-03-15',
   '1974-13-6',
   '1974-12-12',
   '1975-05-25',
   '1975-11-19',
   '1978-02-03',
   '1977-05-25',
   '1978-12-15',
   '1979-05-25',
   '1979-11-08',
   '1979-04-12',
   '1980-06-20',
   '1981-06-12',
   '1981-12-24',
   '1981-06-19',
   '1982-09-09',
   '1983-10-06',
   '1983-05-25',
   '1983-06-17',
   '1983-07-07',
   '1984-05-23',
   '1984-11-03',
   '1984-10-26',
   '1985-07-03',
   '1985-07-10',
   '1985-02-15',
   '1986-06-24',
   '1986-05-16',
   '1987-06-24',
   '1987-07-24',
   '1987-10-09',
   '1988-11-04',
   '1990-01-16',
   '1989-05-24',
   '1989-10-05',
   '1990-11-16',
   '1990-12-20',
   '1991-05-24',
   '1991-11-27',
   '1991-11-22',
   '1991-07-03',
   '1991-02-14']}]

### Match

One can use match to filter all documents to only include documents that match a condition or set of conditions. We also introduce pipelines with multiple stages here, we can chain together many stages to form complicated and powerful logic. Also depending on the operation being performed operators can look different / have different orders of command, for example these greater than and less than conditions take a different form to the ones we have used above, using the ones above for this operation is not possible/allowed by the syntax.

In [99]:
pipeline = [
    {"$match" : { "$and" : [
        {"year" : {"$lte": 1992}},
        {"runtime": {"$gt": 120}}
    ]}},
    { "$project": {
        "_id": 0,
        "runtime" : 1,
        "year" : 1,
    }},
]

list(db.movies.aggregate(pipeline))[0:3]

[{'year': 1962, 'runtime': 129},
 {'year': 1962, 'runtime': 134},
 {'year': 1965, 'runtime': 172}]

### Unwind

This unwind operation deconstructs a field which has an array of values producing a copy of the document for each value in the array, so we if we have a document with 3 values in the array we will produce 3 documents each identical apart from each having 1 of the entries from the original document's array.

In [101]:
pipeline = [
    { "$unwind" : "$categories"},
]

list(db.movies.aggregate(pipeline))[0:3]

[{'_id': ObjectId('5ea58dc1778da3f01ec4f73e'),
  'name': 'Dr. No',
  'year': 1962,
  'runtime': 110,
  'categories': 'action',
  'release-date': '1962-10-05',
  'director': 'Terence Young',
  'writer': ['Richard Maibaum',
   'Johanna Harwood',
   'Berkely Mather',
   'Ian Fleming'],
  'actors': ['Sean Connery',
   'Ursula Andress',
   'Joseph Wiseman',
   'Jack Lord',
   'Bernard Lee'],
  'storyline': 'A resourceful British government agent seeks answers in a case involving the disappearance of a colleague and the disruption of the American space program.'},
 {'_id': ObjectId('5ea58dc1778da3f01ec4f73e'),
  'name': 'Dr. No',
  'year': 1962,
  'runtime': 110,
  'categories': 'adventure',
  'release-date': '1962-10-05',
  'director': 'Terence Young',
  'writer': ['Richard Maibaum',
   'Johanna Harwood',
   'Berkely Mather',
   'Ian Fleming'],
  'actors': ['Sean Connery',
   'Ursula Andress',
   'Joseph Wiseman',
   'Jack Lord',
   'Bernard Lee'],
  'storyline': 'A resourceful British government agent seeks answers in a case involving the disappearance of a colleague and the disruption of the American space program.'},
 {'_id': ObjectId('5ea58dc1778da3f01ec4f73e'),
  'name': 'Dr. No',
  'year': 1962,
  'runtime': 110,
  'categories': 'thriller',
  'release-date': '1962-10-05',
  'director': 'Terence Young',
  'writer': ['Richard Maibaum',
   'Johanna Harwood',
   'Berkely Mather',
   'Ian Fleming'],
  'actors': ['Sean Connery',
   'Ursula Andress',
   'Joseph Wiseman',
   'Jack Lord',
   'Bernard Lee'],
  'storyline': 'A resourceful British government agent seeks answers in a case involving the disappearance of a colleague and the disruption of the American space program.'}]

### An example of combining these together to count the number of films with unique names in each category

In [115]:
pipeline = [
    {"$project" : {
        "_id" : 0,
        "name" : "$name",
        "categories" : 1
    }}, 
    { "$unwind" : "$categories"}, 
    {"$group": {"_id": "$categories",
               "names": {"$addToSet" : "$name" }
               }},
    {"$project" : {
        "_id": 0,
        "category": "$_id",
        "movieCount" : {"$size" : "$names"}
    }},
]
list(db.movies.aggregate(pipeline))[0:5]

# Pipeline stages 
# 1) Subsets data to just names and categories
# 2) unwinds categories (which is an array of strings) so we each document now has a single category
# 3) groups documents by category and adds them to a set of names (a set can only contain each name 
# once so removes any chance of movies being duplicated if they contain the same category twice)
# 4) gets the size of the set - i.e. number of unique names for each category of film

[{'category': 'history', 'movieCount': 6},
 {'category': 'Action', 'movieCount': 7},
 {'category': 'teen', 'movieCount': 1},
 {'category': 'comdey', 'movieCount': 1},
 {'category': 'Police', 'movieCount': 1}]

#### The first projection stage is not required, however, it removes the other unessesary data from the rest of the pipeline processes, for large documents with many fields, or more complicated fields reducing the data to the least required can provide a speed benefit to the overall process. Even for these relatively simple documents a small speed benefit is observed.

In [112]:
%%timeit 

pipeline = [
    {"$project" : {
        "_id" : 0,
        "name" : "$name",
        "categories" : 1
    }}, 
    { "$unwind" : "$categories"}, 
    {"$group": {"_id": "$categories",
               "names": {"$addToSet" : "$name" }
               }},
    {"$project" : {
        "_id": 0,
        "category": "$_id",
        "movieCount" : {"$size" : "$names"}
    }},
]
list(db.movies.aggregate(pipeline))

4.06 ms ± 339 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [114]:
%%timeit 

pipeline = [
    { "$unwind" : "$categories"}, 
    {"$group": {"_id": "$categories",
               "names": {"$addToSet" : "$name" }
               }},
    {"$project" : {
        "_id": 0,
        "category": "$_id",
        "movieCount" : {"$size" : "$names"}
    }},
]
list(db.movies.aggregate(pipeline))

4.34 ms ± 322 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)